
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Reem+Kufi&display=swap');

$title-font: 'Monoton', sans-serif;
$body-font: 'Reem Kufi', 'Segoe UI', sans-serif;
$ui-background: rgba(0, 0, 0, 0.25);
$ui-hover-background: rgba(255, 255, 255, 0.2);

* {
  font-family: $body-font;
  color: white;
}

body {
  background: url("background.jpg"), black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

#header {
  font-family: $title-font;
  font-size: 800%;
  user-select: none;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#center-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 160px;
  background: $ui-background;
  border-radius: 6px;
  backdrop-filter: blur(6px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  display: block;
  cursor: pointer;
  font-size: 125%;

  &:focus {
    outline: none;
  }
}

#play-button {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  background: $ui-background;

  &:hover {
    background: $ui-hover-background;
  }
}

#seekbar {
  margin-top: auto;
}

input[type='text'] {
  background: transparent;
  background: $ui-background;
  border: 0;
  font-size: 125%;

  &:focus, &:hover {
    outline: none;
    background: $ui-hover-background;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  @mixin slider-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
  }

  @mixin slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -5px;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }
  &::-moz-range-track {
    @include slider-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb;
  }
  &::-moz-range-thumb {
    @include slider-thumb;
  }
}
