
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Reem+Kufi&display=swap');

$title-font: 'Monoton', sans-serif;
$body-font: 'Reem Kufi', 'Segoe UI', sans-serif;
$ui-background: rgba(0, 0, 0, 0.25);
$ui-hover-background: rgba(255, 255, 255, 0.2);

* {
  font-family: $body-font;
  color: white;
}

body {
  background: url("background.jpg"), black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

#header {
  font-family: $title-font;
  font-size: 800%;
  user-select: none;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#center-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 330px;
  background: $ui-background;
  border-radius: 6px;
  backdrop-filter: blur(6px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;

  #github {
    &:before {      
      content: "";
      width: 20px;
      height: 20px;
      background: url('icons/github.svg');
      background-size: 100%;
      display: inline-block;
      margin-right: 3px;
      vertical-align: -3px;
    }
  }
}

button {
  display: block;
  cursor: pointer;
  font-size: 125%;
  background: transparent;

  &:focus {
    outline: none;
  }
}

#play-button {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 0;
  margin: 6px auto;
  background: $ui-background;

  &:hover {
    background: $ui-hover-background;
  }
  
  #play-button-icon {
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 14px 0px 14px 24px;
    border-color: transparent transparent transparent white;
    transition: all 100ms ease-in-out;
    margin-left: 20px;
  }

  &.paused {
    #play-button-icon {
      border-style: double;
      border-width: 0px 0px 0px 26px;
      margin-left: 16px;
    }
  }
}

#seekbar {
  margin-top: auto;
}

textarea {
  background: transparent;
  background: $ui-background;
  border: 0;
  font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', 'Courier New', Courier, monospace;
  resize: none;

  &:focus, &:hover {
    outline: none;
    background: $ui-hover-background;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  @mixin slider-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
  }

  @mixin slider-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -3px;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }
  &::-moz-range-track {
    @include slider-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb;
  }
  &::-moz-range-thumb {
    @include slider-thumb;
  }
}

#filter {
  background: $ui-background;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -24px;
  padding: 12px;
  transform: scale(0.85);
}