# Client
client/node_modules
client/dist
client/assets/samples

# Model
.idea
.cache
__pycache__
model/dataset/hooktheory
model/dataset/processed*
spotify_client_*
*.npy
*.pth
embedding_lengths.json
log.txt